<div>
  <span>Xin chào {{username}} </span>
  <a class="btn btn-default log-bar" href="/dangxuat" role="button">Đăng xuất</a>
</div>
  <div class="cart box_1">
    <a href="thanhtoan">
      <h3>
        <div class="total">
          <span class="simpleCart_total">$0.00</span>(<span id="simpleCart_quantity"
            class="simpleCart_quantity">0</span>)</div>
      </h3>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty">Giỏ hàng</a></p>
    <div class="clearfix"> </div>
  </div>
