<!DOCTYPE html>
<html lang="en">

<head>
    <title>N-Air</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--fonts-->
    <!--bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/91.92308c3bbe8633a7316c.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/133.b507d4d494adeddcefbd.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/59.077b89c45d3bf40cf92d.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/90.b891821ea350bd216608.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/86.cbdacfd6ccd464f5893f.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/178.cf05490447c04745be45.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/51.c24c14b42584a86414f8.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5.0d8fd3db24749005d098.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1.9c291788758acbed54f9.css">
    <link rel="stylesheet" type="text/css" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/0.1f7c798a01ce43161715.css">
    <!--coustom css-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--shop-kart-js-->
    <script src="/js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="/js/bootstrap.min.js"></script>
    <!--script-->
</head>

<body>
    {{> header}}
    {{{ body }}}
    <div class="footer-grid">
        <div class="container">
            <div class="col-md-2 re-ft-grd">
                <h3>Phân loại</h3>
                <ul class="categories">
                    <li><a href="#">Nam</a></li>
                    <li><a href="#">Nữ</a></li>
                    <li><a href="#">Trẻ em</a></li>
                    <li><a href="#">Công sở</a></li>
                    <li><a href="#">Thường phục</a></li>
                    <li><a href="#">Thể thao</a></li>
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <h3>Liên kết</h3>
                <ul class="shot-links">
                    <li><a href="#">Liên hệ với chúng tôi</a></li>
                    <li><a href="#">Hỗ trợ</a></li>
                    <li><a href="#">Giao hàng</a></li>
                    <li><a href="#">Chính sách hoàn trả</a></li>
                    <li><a href="#">Điều khoản & điều kiện</a></li>
                    <li><a href="lienhe">Địa chỉ</a></li>
                </ul>
            </div>
            <div class="col-md-6 re-ft-grd">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="#" class="fb">facebook</a></li>
                    <li><a href="#" class="twt">twitter</a></li>
                    <li><a href="#" class="gpls">g+ plus</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <div class="bt-logo">
                    <div class="logo">
                        <a href="trangchu" class="ft-log">N-AIR</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copy-rt">
            <div class="container">
                <p>&copy; 2015 N-AIR All Rights Reserved. Design by <a href="http://www.w3layouts.com">w3layouts</a></p>
            </div>
        </div>
    </div>
</body>
<script src="/js/checkpwd.js"></script>
</html>