<!-- reg-form -->
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3>Đăng ký ngay</h3>
            <p>Xin chào, vui lòng điền thông tin chi tiết .</p>
            <p>Nếu trước đây bạn đã đăng ký với chúng tôi, <a href="dangnhap.html">nhấp vào đây</a></p>
            <form>
                <ul>
                    <li class="text-info">Họ: </li>
                    <li><input type="text" value=""></li>
                </ul>
                <ul>
                    <li class="text-info">Tên: </li>
                    <li><input type="text" value=""></li>
                </ul>
                <ul>
                    <li class="text-info">Email: </li>
                    <li><input type="text" value=""></li>
                </ul>
                <ul>
                    <li class="text-info">Mật khẩu: </li>
                    <li><input type="password" value=""></li>
                </ul>
                <ul>
                    <li class="text-info">Nhập lại mật khẩu:</li>
                    <li><input type="password" value=""></li>
                </ul>
                <ul>
                    <li class="text-info">Số điện thoại:</li>
                    <li><input type="text" value=""></li>
                </ul>
                <input type="submit" value="Register Now">
                <p class="click">Khi nhấp vào nút này, bạn đồng ý với <a href="#">điều khoản và điều kiện của chúng tôi.</a></p>
            </form>
        </div>
    </div>
</div>