<!--signup-->
<!-- login-page -->
<div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">
                <h3>Đăng nhập</h3>
                <div class="strip"></div>
                <p>Xin chào, vui lòng nhập vào đây để tiếp tục</p>
                <p>Nếu trước đây bạn chưa đăng ký với chúng tôi, <a href="dangky">nhấp vào đây</a></p>
                <form>
                    <h5>Tên đăng nhập:</h5>
                    <input type="text" value="">
                    <h5>Mật khẩu:</h5>
                    <input type="password" value=""><br>
                    <input type="submit" value="Đăng nhập">

                </form>
                <a href="#">Quên mật khẩu ?</a>
            </div>
            <div class="col-md-6 login-right">
                <h3>Đăng ký mới</h3>
                <div class="strip"></div>
                <p>Bằng cách tạo tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể chuyển qua quy trình thanh toán nhanh hơn,
                    lưu trữ nhiều địa chỉ giao hàng, xem và theo dõi đơn hàng của bạn trong tài khoản của bạn và hơn thế nữa.</p>
                <a href="dangky" class="button">Tạo tài khoản</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>